{% extends 'base.html' %}
{% block extra_style %}
<link rel="stylesheet" href="../assets/css/shuffle.css">
{% endblock %}

{% block content %}
  
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(assets/img/participants/{{ oral_histories }})">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Oral Histories</h2>
              <p class="animate__animated animate__fadeInUp">Stories of returning Mexican migrants.</p>
              <a href="#interviews" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>

        <!-- Slide 2
        <div class="carousel-item" style="background-image: url(assets/img/participants/{{ photographs }})">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Photographs</h2>
              <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
              <a href="#photographs" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>

        <div class="carousel-item" style="background-image: url(assets/img/participants/{{ teaching }})">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Teaching Materials</h2>
              <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
              <a href="#teaching" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div> -->

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">
 
<!-- ======= About Section ======= -->
<section id="about" class="why-us section-bg">
    <div class="container-fluid" data-aos="fade-up">

      <div class="row">

    
        <div class="col-lg-12 d-flex flex-column justify-content-center align-items-stretch">

          <div class="content">
            <div class="section-title">
                <h2>About</h2>
                <p></p>
              </div>
            <h3>Migrant Voices is an oral history project launched in 2018 as a collaborative research and outreach initiative focusing on returning Mexican migrants.</h3>
            <p>
            </p>
          </div>

          <div class="accordion-list">
            <ul>
              <!-- <li>
                <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> Non consectetur a erat nam at lectus urna duis? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                  <p>
                    Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                  </p>
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Feugiat scelerisque varius morbi enim nunc? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                  </p>
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> Dolor sit amet consectetur adipiscing elit? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                  </p>
                </div>
              </li> -->

           
            <li><img src="assets/img/research/migrants-by-states.png" class="img-fluid" alt="Migrants by state">
                </li>
                <li><img src="assets/img/research/migrant-locations-in-the-usa.png" class="img-fluid" alt="Migrant locations in the US">
                </li>
        
            </ul>
          </div>

        </div>

      </div>
    
    </div>
  </section><!-- End About Section -->

  <!-- ======= Interviews Section ======= -->
<section id="interviews" class="cta">
    <div class="container-fluid" data-aos="zoom-in">

      <div class="text-center" style="margin-bottom:15px;">
        <h3>Interviews</h3>
        <input id="myInput" style="width:40%;" type="text"name="filters" placeholder="Filter">
        
      </div>

      
        
        
          <div id="grid" class="row my-shuffle-container"></div>
          <div class="mx-auto cta-inner0 text-center">
          <button id='load-more-button' class="btn-learn-more">Load More</button>
          </div>

      </div>
    </div>
  </section><!-- End Interviews Section -->

    
    
    
<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Our Team</h2>
        <p></p>
      </div>

      <div class="row">

        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="member" data-aos="zoom-in" data-aos-delay="100">
            <img src="assets/img/teamMembers/Anita-Isaacs_Portrait.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Anita Isaacs</h4>
                <span>Benjamin R. Collins Professor of Social Sciences and Professor of Political Science at Haverford College.</span>
              </div>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.1s">
          <div class="member" data-aos="zoom-in" data-aos-delay="200">
            <img src="assets/img/teamMembers/Anne-Preston_Portrait.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Anne Preston</h4>
                <span>John Hurford Professor; Professor of Economics, Haverford College</span>
              </div>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
          <div class="member" data-aos="zoom-in" data-aos-delay="300">
            <img src="assets/img/teamMembers/Luis-Aguilar_Portrait.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Luis Aguilar</h4>
                <span></span>
              </div>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.3s">
          <div class="member" data-aos="zoom-in" data-aos-delay="400">
            <img src="assets/img/teamMembers/Luisa-Rodriguez_Portrait.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Luisa Rodriguez</h4>
                <span></span>
              </div>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.3s">
            <div class="member" data-aos="zoom-in" data-aos-delay="400">
              <img src="assets/img/teamMembers/Pablo-Wolfe.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Pablo Wolfe</h4>
                  <span></span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
      </div>

    </div>
  </section><!-- End Team Section -->


   
  
    

    
    
    
    
    

    

    {% endblock %}

    {% block extra_js %}
  
  
    <script src="/assets/js/superShuffle.js"></script>
    <script src="/assets/js/autocomplete.js"></script>
    <script>
      autocomplete(document.getElementById("myInput"), {{ filters|tojson|safe }});
    </script>
    {% endblock %}