{% extends 'base.html' %}

{% block content %}
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">Migration Encounters</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#teaching">Teaching Materials</a></li>
          <li><a class="nav-link scrollto" href="#interviews">Interviews</a></li>
          <li><a class="nav-link scrollto " href="#photographs">Photographs</a></li>
          <li style="margin-left:15px;"><input type="search" class="form-control ds-input" id="search-input" placeholder="Search..." aria-label="Search docs for..." autocomplete="off" data-bd-docs-version="5.0" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="position: relative; vertical-align: top;"></li>
          
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(assets/img/participants/{{ oral_histories }})">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Oral Histories</h2>
              <p class="animate__animated animate__fadeInUp">Stories of returning Mexican migrants.</p>
              <a href="#interviews" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(assets/img/participants/{{ photographs }})">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Photographs</h2>
              <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
              <a href="#photographs" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(assets/img/participants/{{ teaching }})">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Teaching Materials</h2>
              <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
              <a href="#teaching" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">
 
<!-- ======= About Section ======= -->
<section id="about" class="why-us section-bg">
    <div class="container-fluid" data-aos="fade-up">

      <div class="row">

    
        <div class="col-lg-12 d-flex flex-column justify-content-center align-items-stretch">

          <div class="content">
            <div class="section-title">
                <h2>About</h2>
                <p></p>
              </div>
            <h3>Migration Encounters is an oral history project launched in 2018 as a collaborative research and outreach initiative focusing on returning Mexican migrants.</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
            </p>
          </div>

          <div class="accordion-list">
            <ul>
              <li>
                <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> Non consectetur a erat nam at lectus urna duis? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                  <p>
                    Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                  </p>
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Feugiat scelerisque varius morbi enim nunc? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                  </p>
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> Dolor sit amet consectetur adipiscing elit? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                  </p>
                </div>
              </li>

           
            <li><img src="assets/img/research/migrants-by-states.png" class="img-fluid" alt="Migrants by state">
                </li>
                <li><img src="assets/img/research/migrant-locations-in-the-usa.png" class="img-fluid" alt="Migrant locations in the US">
                </li>
        
            </ul>
          </div>

        </div>

      </div>
    
    </div>
  </section><!-- End About Section -->

  <!-- ======= Interviews Section ======= -->
<section id="interviews" class="cta">
    <div class="container" data-aos="zoom-in">

      <div class="text-center">
        <h3>Interviews</h3>
        <p> </p>
      </div>

      <div class="mx-auto cta-inner0 text-center">
        <div class="container">
          <div class="row">
            <div class="col-4@sm col-3@md">
              <div class="filters-group">
                <h4 for="filters-search-input" class="filter-label text-light">Search</h4>
                <input class="textfield filter__search js-shuffle-search" type="search" id="filters-search-input" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12@sm filters-group-wrap">
              <div class="filters-group">
                <div class="btn-group filter-options">
                  {% for filter in filters %}
                  <a class="cta-btn" data-group="{{ filter }}">{{ filter }}</a>
                  {% endfor %}
                </div>
              </div>
              <fieldset class="filters-group">
                <h4 class="filter-label text-light">Sort</h4>
                <div class="btn-group sort-options">
                  <label class="btn active text-light">
                    <input type="radio" name="sort-value" value="dom" checked /> Default
                  </label>
                  <label class="btn text-light">
                    <input type="radio" name="sort-value" value="title" /> Title
                  </label>
                  <label class="btn text-light">
                    <input type="radio" name="sort-value" value="date-created" /> Date Created
                  </label>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
        
        <div class="container">
          <div id="grid" class="row my-shuffle-container">          
            {% for item in interviews %}
            
          <figure style="padding-right:10px;" class="picture-item rounded js-item img-item col-4@sm col-4@xs" data-groups="{{ item.subjects }}"
          data-date-created="{{ item.date }}" data-title="{{ item.title }}"
          data-author="{{ item.author }}">
            <div >
              <div>
                <div class="aspect aspect--16x9">
                    <div class="aspect__inner">
                <a href="" target="_blank" rel="noopener"
                    title="{{ item.title }}"><img 
                      src="assets/img/thumbnails/{{ item.file }}" alt="{{ item.title }}" /></a>
              </div>
              </div></div>
            </div>
            <figcaption style="color:white;" class="picture-item__title">{{ item.title }}</figcaption>
          </figure>
          
          {% endfor %}




         
        </div>
      </div>


    </div>
  </section><!-- End Interviews Section -->

    <!-- ======= Photographs Section ======= -->
    <section id="photographs" class="portfolio">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Photographs</h2>
            <p></p>
          </div>
  
          <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">App</li>
                <li data-filter=".filter-card">Card</li>
                <li data-filter=".filter-web">Web</li>
              </ul>
            </div>
          </div>
  
          <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 1</h4>
                <p>App</p>
                <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 2</h4>
                <p>App</p>
                <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
                <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 2</h4>
                <p>Web</p>
                <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 3</h4>
                <p>App</p>
                <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 1</h4>
                <p>Card</p>
                <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 3</h4>
                <p>Card</p>
                <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Portfolio Section -->
    <!-- ======= Teaching Section ======= -->
    <section id="teaching" class="services">
        <div class="container" data-aos="fade-up">
    
          <div class="section-title">
            <h2>Teaching Materials</h2>
            <p></p>
          </div>
          <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts">
            <div class="container" data-aos="fade-up">
      
              <div class="row no-gutters">
      
                <div class="col-lg-4 col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-person-square"></i>
                    <span data-purecounter-start="0" data-purecounter-end="422" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Oral Histories</strong></p>
                    <a href="#">Find out more &raquo;</a>
                  </div>
                </div>
      
                <div class="col-lg-4 col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-file-earmark-text"></i>
                    <span data-purecounter-start="0" data-purecounter-end="600" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Pages of Testimony</strong></p>
                    <a href="#">Find out more &raquo;</a>
                  </div>
              </div>
      
                <div class="col-lg-4 col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-headset"></i>
                    <span data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Hours Of Audio</strong> </p>
                    <a href="#">Find out more &raquo;</a>
                  </div>
                </div>
      
               
              </div>
      
            </div>
          </section><!-- End Counts Section -->
      
          
          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4><a href="">Lorem Ipsum</a></h4>
                <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
              </div>
            </div>
    
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4><a href="">Sed ut perspiciatis</a></h4>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
              </div>
            </div>
    
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4><a href="">Magni Dolores</a></h4>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
              </div>
            </div>
    
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-world"></i></div>
                <h4><a href="">Nemo Enim</a></h4>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
              </div>
            </div>
    
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-slideshow"></i></div>
                <h4><a href="">Dele cardo</a></h4>
                <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
              </div>
            </div>
    
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-arch"></i></div>
                <h4><a href="">Divera don</a></h4>
                <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
              </div>
            </div>
    
          </div>
    
        </div>
      </section><!-- End Teaching Section -->
    
<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Our Team</h2>
        <p></p>
      </div>

      <div class="row">

        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="member" data-aos="zoom-in" data-aos-delay="100">
            <img src="assets/img/teamMembers/Anita-Isaacs_Portrait.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Anita Isaacs</h4>
                <span>Benjamin R. Collins Professor of Social Sciences and Professor of Political Science at Haverford College.</span>
              </div>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.1s">
          <div class="member" data-aos="zoom-in" data-aos-delay="200">
            <img src="assets/img/teamMembers/Anne-Preston_Portrait.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Anne Preston</h4>
                <span>John Hurford Professor; Professor of Economics, Haverford College</span>
              </div>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
          <div class="member" data-aos="zoom-in" data-aos-delay="300">
            <img src="assets/img/teamMembers/Luis-Aguilar_Portrait.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Luis Aguilar</h4>
                <span></span>
              </div>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.3s">
          <div class="member" data-aos="zoom-in" data-aos-delay="400">
            <img src="assets/img/teamMembers/Luisa-Rodriguez_Portrait.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Luisa Rodriguez</h4>
                <span></span>
              </div>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.3s">
            <div class="member" data-aos="zoom-in" data-aos-delay="400">
              <img src="assets/img/teamMembers/Pablo-Wolfe.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Pablo Wolfe</h4>
                  <span></span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
      </div>

    </div>
  </section><!-- End Team Section -->


   
  
    

    
    
    
    
    

    

    {% endblock %}

    {% block extrajs %}
    <script>
      'use strict';

      var Shuffle = window.Shuffle;
      
      var Demo = function (element) {
        this.element = element;
      
        this.shuffle = new Shuffle(element, {
          itemSelector: '.picture-item',
          sizer: element.querySelector('.my-sizer-element'),
        });
      
        // Log events.
        this.addShuffleEventListeners();
      
        this._activeFilters = [];
      
        this.addFilterButtons();
        this.addSorting();
        this.addSearchFilter();
      
        this.mode = 'exclusive';
      };
      
      Demo.prototype.toggleMode = function () {
        if (this.mode === 'additive') {
          this.mode = 'exclusive';
        } else {
          this.mode = 'additive';
        }
      };
      
      /**
       * Shuffle uses the CustomEvent constructor to dispatch events. You can listen
       * for them like you normally would (with jQuery for example).
       */
      Demo.prototype.addShuffleEventListeners = function () {
        this.shuffle.on(Shuffle.EventType.LAYOUT, function (data) {
          console.log('layout. data:', data);
        });
      
        this.shuffle.on(Shuffle.EventType.REMOVED, function (data) {
          console.log('removed. data:', data);
        });
      };
      
      Demo.prototype.addFilterButtons = function () {
        var options = document.querySelector('.filter-options');
      
        if (!options) {
          return;
        }
      
        var filterButtons = Array.from(options.children);
      
        filterButtons.forEach(function (button) {
          button.addEventListener('click', this._handleFilterClick.bind(this), false);
        }, this);
      };
      
      Demo.prototype._handleFilterClick = function (evt) {
        var btn = evt.currentTarget;
        var isActive = btn.classList.contains('active');
        var btnGroup = btn.getAttribute('data-group');
      
        // You don't need _both_ of these modes. This is only for the demo.
      
        // For this custom 'additive' mode in the demo, clicking on filter buttons
        // doesn't remove any other filters.
        if (this.mode === 'additive') {
          // If this button is already active, remove it from the list of filters.
          if (isActive) {
            this._activeFilters.splice(this._activeFilters.indexOf(btnGroup));
          } else {
            this._activeFilters.push(btnGroup);
          }
      
          btn.classList.toggle('active');
      
          // Filter elements
          this.shuffle.filter(this._activeFilters);
      
        // 'exclusive' mode lets only one filter button be active at a time.
        } else {
          this._removeActiveClassFromChildren(btn.parentNode);
      
          var filterGroup;
          if (isActive) {
            btn.classList.remove('active');
            filterGroup = Shuffle.ALL_ITEMS;
          } else {
            btn.classList.add('active');
            filterGroup = btnGroup;
          }
      
          this.shuffle.filter(filterGroup);
        }
      };
      
      Demo.prototype._removeActiveClassFromChildren = function (parent) {
        var children = parent.children;
        for (var i = children.length - 1; i >= 0; i--) {
          children[i].classList.remove('active');
        }
      };
      
      Demo.prototype.addSorting = function () {
        var buttonGroup = document.querySelector('.sort-options');
      
        if (!buttonGroup) {
          return;
        }
      
        buttonGroup.addEventListener('change', this._handleSortChange.bind(this));
      };
      
      Demo.prototype._handleSortChange = function (evt) {
        // Add and remove `active` class from buttons.
        var buttons = Array.from(evt.currentTarget.children);
        buttons.forEach(function (button) {
          if (button.querySelector('input').value === evt.target.value) {
            button.classList.add('active');
          } else {
            button.classList.remove('active');
          }
        });
      
        // Create the sort options to give to Shuffle.
        var value = evt.target.value;
        var options = {};
      
        function sortByDate(element) {
          return Date.parse(element.getAttribute('data-date-created'));
        }
      
        function sortByTitle(element) {
          return element.getAttribute('data-title').toLowerCase();
        }
      
        if (value === 'date-created') {
          options = {
            reverse: true,
            by: sortByDate,
          };
        } else if (value === 'title') {
          options = {
            by: sortByTitle,
          };
        }
      
        this.shuffle.sort(options);
      };
      
      // Advanced filtering
      Demo.prototype.addSearchFilter = function () {
        var searchInput = document.querySelector('.js-shuffle-search');
      
        if (!searchInput) {
          return;
        }
      
        searchInput.addEventListener('input', this._handleSearchKeyup.bind(this));
      };
      
      /**
       * Filter the shuffle instance by items with a title that matches the search input.
       * @param {Event} evt Event object.
       */
      Demo.prototype._handleSearchKeyup = function (evt) {
        var searchText = evt.target.value.toLowerCase();
      
        this.shuffle.filter(function (element, shuffle) {
      
          // If there is a current filter applied, ignore elements that don't match it.
          if (shuffle.group !== Shuffle.ALL_ITEMS) {
            // Get the item's groups.
            var groups = JSON.parse(element.getAttribute('data-groups'));
            var isElementInCurrentGroup = groups.indexOf(shuffle.group) !== -1;
      
            // Only search elements in the current group
            if (!isElementInCurrentGroup) {
              return false;
            }
          }
      
          var titleElement = element.querySelector('.picture-item__title');
          var titleText = titleElement.textContent.toLowerCase().trim();
      
          return titleText.indexOf(searchText) !== -1;
        });
      };
      
      document.addEventListener('DOMContentLoaded', function () {
        window.demo = new Demo(document.getElementById('grid'));
      });
    
    
      </script>

    {% endblock %}