{% extends 'base.html' %} {% block content %}

<main id="main">
  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts" style="margin-top: 120px">
    <div class="container-fluid" data-aos="fade-up">
      <div class="row no-gutters">
        <h3 id="result_title">Search Results</h3>

        <div class="col-lg-6 col-md-6 d-md-flex align-items-md-stretch">
          <div
            onclick="set_type('interviews');"
            class="count-box interview_count_box"
          >
            <h4>Interviews</h4>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 d-md-flex align-items-md-stretch">
          <div
            onclick="set_type('quotes');"
            class="count-box annotations_count_box"
          >
            <h4>Topics</h4>
          </div>
        </div>

        
      </div>

      <div class="row no-gutters" style="margin-top: 30px">
        <div class="col-lg-12 col-md-12 d-md-flex align-items-md-stretch">
          <div class="interviews count-box"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div
        class="
          col-lg-12
          d-flex
          flex-column
          justify-content-center
          align-items-stretch
        "
      >
        <div class="content">
          <div class="section-title">
            <h2></h2>
            <p></p>
          </div>

          <p></p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Counts Section -->

  

  {% endblock %} {% block extra_js %}

  <!-- search engine  -->
  <script src="https://unpkg.com/lunr/lunr.js"></script>
  <script>
    
 
    function htmlToElement(html) {
      var template = document.createElement("template");
      html = html.trim(); // Never return a text node of whitespace as the result
      template.innerHTML = html;
      return template.content.firstChild;
    }


    


    async function fetchSentText(id) {
      try {
        const response = await fetch(new Request(`../assets/sents/${id}.json`, {
          method: 'GET'
        }))
        const json = await response.json()
        return json
      } catch (e) {
        console.error('Something went wrong', e)
      }
    }
    
    
  
  // create global variable for sents index, used whenever interview_sents is called 
  let sentsJSON;
  fetch('../assets/lunr/sents.json')
  .then(res => res.json())
  .then(data => sentsJSON = data)

 
  

  async function interview_sents(element, name, query){
      
      
      let sent_idx;
      element.classList.remove("bi-arrow-bar-right")
      element.classList.add("bi-arrow-bar-down")
    
            
              
              sent_idx = lunr.Index.load(sentsJSON);
              let sents = sent_idx.search(`+name:${name} +text:${query}`);
              let results = []
              for (i in sents){
                // limit to the first 10 results, page freezes if you have 40 interviews with dozens of sents each.
                if (i < 10) {
                  fetchSentText(sents[i].ref).then(data => {
                    // #TODO highlight search term in result
                    let text = data.text;
                    if (text.includes(query)) {
                    
                      text = text.replace(query, `<mark>${query}</mark>`);

                    }
                    element.parentElement.querySelector("ul").appendChild(
                      htmlToElement(
                        `<li><a style="color:black;" href="../interview/${name}.html#${sents[i].ref}">${text}</a></li>`
                      )
                    );
                  });
                
                }
              }
              element.style.display = "none";
              return results
            
          
    }
    
      
    

    // Access query from the URL
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const query = urlParams.get("q");
    const type = urlParams.get("type");
    function set_type(type){
      window.location.href =`../search.html?q=${query}&type=${type}`; 
    };
    
    let interview_results;

    if (query) {
      document.querySelector("#result_title").innerHTML =
      "Search Results for: " + query;

      // Load the inverted index for interviews
      fetch("../assets/lunr/interviews.json")
        .then(function (u) {
          return u.json();
        })
        .then(function (json) {
          const interview_idx = lunr.Index.load(json);
          interview_results = interview_idx.search(query);
          
          document
            .querySelector(".interview_count_box")
            .appendChild(
              htmlToElement("<h4>" + interview_results.length + "</h4>")
            );
          if (type == "interviews") {
            //set box as active 
           

            document.querySelector(".interview_count_box").classList.add("active");
            for (i in interview_results) {
              if (interview_results[i].score > 0) {
                // get sents for each interview in results
                
                document
                  .querySelector(".interviews")
                  .appendChild(
                    htmlToElement(
                      `<div id="${interview_results[i].ref}" style="border: 1px inset rgba(95,81,164,0.26);
                      border-radius: 20px; padding:50px;">
                      <h4 onclick="window.location.href='../interview/${interview_results[i].ref}.html'">${interview_results[i].ref}</h4><i onclick="interview_sents(this, interview_results[i].ref, query);"class="bi bi-arrow-bar-right"></i>
                      <ul></ul>
                      </div>`
                    )
                  );
              }
            }
            if (interview_results[i].score == 0) {
              document
                .querySelector(".interviews")
                .appendChild(htmlToElement("<h4>No results</h4>"));
            }
          }

          // For each of the interview results, populate sentence links 
          //let interview_elems = document.querySelector(".interviews").children; 
          //[].forEach.call(interview_elems, function(e) {
          //  interview_sents(e, query);
            
            
            
          //});

          return interview_results;
        });

      fetch("../assets/lunr/annotations.json")
        .then(function (u) {
          return u.json();
        })
        .then(function (json) {
          
            const annotations_idx = lunr.Index.load(json);
            annotations_results = annotations_idx.search(query);
            document
            .querySelector(".annotations_count_box")
            .appendChild(
              htmlToElement("<h4>" + annotations_results.length + "</h4>")
            );

            if (type == "quotes") {
            document.querySelector(".annotations_count_box").classList.add("active");

            for (i in annotations_results) {
              if (annotations_results[i].score > 0) {
                let url = '../assets/quotes/'+annotations_results[i].ref;
                fetch(url).then((resp) => resp.json())
                .then(function(data) {
                  document
                  .querySelector(".interviews")
                  .appendChild(
                    htmlToElement(
                      `<div style="border: 1px inset rgba(95,81,164,0.26);
                      border-radius: 20px; padding:50px;">
                      <a href="../interview/${data.name}.html">${data.name}</a><a href="../label/${data.label}">${data.label}</a>
                        <p>${data.text.replace(/\n/g, "<br />")}</p>
                        <p></p>
                      </div>`
                    )
                  );
                })
                //fetch quote json
                //text
                // link to interview from name
                // label

                
              } else {
                if (annotations_results[i].score == 0) {
                  document
                    .querySelector(".interviews")
                    .appendChild(htmlToElement("<h4>No results</h4>"));
                }
              }
            }
          }

          
        });

      
      
    } else {
      console.log("no query");
    }

    
      </script>
  {% endblock %}
</main>
